<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<root level="off">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>

	<logger name="com.github.ivos.gateway" level="debug"/>

	<!--<logger name="org.apache.http" level="debug"/>-->

</configuration>
